.hero_img {
  position: relative;
  /* overflow: hidden; */
}

.hero_img::before {
  content: "";
  position: absolute;
  bottom: 0px;
  
  left: 0;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0),
    rgba(255, 255, 255, 1)
  );
}
